@use './theme.scss';

.search {
  width: 100%;
  border: none;
  border-radius: 35px;
  outline: none;
  color: theme.$primary-color;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 100;
}

.search-query {
  padding: 0.5em 0.5em;
  margin: 1em 0.5em;
  font-weight: 100;
}

.search-results {
  padding: 0.5em 0.5em;
  margin: 1em 0.5em;
}

.search-results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .search-results__entry {
    flex-basis: 100%;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .search-results__entry {
    flex-basis: 50%;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .search-results__entry {
    flex-basis: 25%;
  }
}
