@use './components/theme.scss';

.header {
  display: flex;
  justify-content: center;
  background-color: theme.$secondary-bg-color;
  color: theme.$alternate-color;
  padding: 1em 0em;
  font-family: 'Spartan', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em 0.5em;
}
